.pointed-contain-1{
	background:url(../img/asset_cta/assetsblocpois-02.png);
	width:100%;
	margin:0;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-position: center;
	background-size: cover;
	padding:0;
	text-decoration: none;


	& img{
		width:300px;
	}

	& p{
		font-family:$nunito;
		font-size: $titre;
		color:$bleu;
		text-shadow:3px 3px white ;
		margin:0;
		padding:0;
		
	}

	

}


.pointed-contain-2{
	background:url(../img/asset_cta/assetsblocpois2-02.png);
	width:100%;
	margin:0;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-position: center;
	background-size: cover;
	padding:0;
	text-decoration: none;


	& img{
		width:300px;
	}

	& p{
		font-family:$nunito;
		font-size: $titre;
		color:$bleu;
		text-shadow:3px 3px white ;
		margin:0;
		padding:0;
		
	}

	

}


.pointed-contain-3{
	background:url(../img/asset_cta/assetsblocpois3-02.png);
	width:100%;
	margin:0;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-position: center;
	background-size: cover;
	padding:0;
	text-decoration: none;


	& img{
		width:300px;
	}

	& p{
		font-family:$nunito;
		font-size: $titre;
		color:$bleu;
		text-shadow:3px 3px white ;
		margin:0;
		padding:0;
		
	}

	

}







