
// variables couleurs


$bleu           : #49A5AC;
$jaune          : #F8B334;
$violet         : #9A0B7D;
$gris           : #95989A;



//variables size


/*
au pif; à modifier
*/


$titre          :2em;
$soustitre      :1em;
$texte          :0.5em;


//variables font

$kalam          :'Kalam', cursive;
$nunito         :'nunito';


