@media screen and (min-width: 1000px) {
    #alert-pc{
        display: block;
        width: 100%;
        margin: 0 auto;
        color: #000;
    }
}

@media screen and (max-width: 1000px) {
    #alert-pc{
        display: none;
    }

    #section-index, #quete{
        margin-top: 80px;
    }
    #section-index h2, #section-index p, #section-index a, #quete h2{
        font-family: Kalam, sans-serif;
    }
    #section-index p{
        font-family: Kalam, sans-serif;
    }
    #section-index a{
        font-family: Kalam, sans-serif;
    }
    #section-index select{
        border: 1px black solid;
    }

    #quete h2{
        color: #49A5AC;
        text-align: center;
    }
    #quete p{
        color: #49A5AC;
        text-align: center;
        font-family: Nunito, sans-serif;
        padding:2% 3%;
        font-size: 0.9em;
    }
    #quete .titre{
        background: url("http://localhost/_ECVDigital/hackathongit/hackathong3/img/asset_cta/assetsblocpois-02.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin-top: 80px;
        width:100%;
    }
    #quete .footer{
        margin-top: 205px;
    }
    #quete .footer img{
        width: 30px;
    }
    #quete a{
        color: #49A5AC;
        font-family: Nunito, sans-serif;
    }
    #quete a{

    }

    #map {
        width: 100%;
        height: 100%;
    }

    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
    }

    .button-quete-start {
        background-color: #658eff;
        padding: 10px 20px;
    }

    .button-quete-start a {
        color: #fff;
        text-decoration: none;
    }

    #bloc-musee{
        display: none;
    }
}

